@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url("fonts/HelveticaNeueLTStd45Light_22520.ttf");
}

*{
    margin: 10;
    padding: 10;
}

#overview{
    margin: 13%;
    width: 220px;
    height: "auto";
    position: absolute;
    overflow: hidden;
    background: #040218;
    border-radius: 15PX;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px rgba(0, 0, 0, 0.19);
}

#login_btn{
    margin: 10px 15px 1px 42px;
    padding: 8px 12px;
    font-size:13px;
    border-radius:20px;
    background: #63adf2;
    color: lightgoldenrodyellow;
    border: 0.1px solid lime;
}

#register_btn{
    margin: px 2px 5px 40px;
    padding: 8px 12px;
    font-size: 13px;
    border-radius:30px;
    border: 0.1px solid lime;
}

#login_form{
    position: relative;
    color: aliceblue;
    margin: auto;
    padding: auto;
}

input{
    margin: 15px 18px;
    outline: none;
    content: '';
    transform: scaleX(1);
    width: default;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0px solid;
    font: size 18px;
}

input[type="checkbox"]{
    margin: 8px 5px 8px 22px;
}

input[type="submit"]{
    width: 80px;
    height: 35px;
    font-size:16px;
    margin: 10px 10px 10px 55px;
    padding: 7px;
    color:#001324;
    background-color: lightcyan;
    border: none;
    border-radius: 15px;
}

#registerForm{
    position: absolute;
    left: 400px;
    top:65px;
}
/* ============================================================================= */
/* ----------------register page------------------------- */

.input-container{
    width: 250px;
}

.input-group{
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input{
    padding: 15px 3rem 15px 15px;
    width: 100%;
    background: #040218;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    color: #fff;
    transition: width 0.8, height 0.8, border-radius 0.8;
    font-size: 13;
}

.input-group input{
    color: #63adf2;
}

.input-group input:focus{
    border: 1px solid aqua;
    box-shadow: #001324;
}

.input-group .toogle{
    position: absolute;
    right: 8px;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    z-index: 80;
}

.input-group .ripple{
    background: whitesmoke;
    display: block;
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 40%;
    right: 8px;
    transition: all 0.2s;
    z-index: 1;
}

.pass-strength{
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.strength-label{
    font: size 13px;
    margin-left: auto;
}

.strength-percentage{
    flex: 1;
    height: 5px;
    border-radius: 8px;
    display: block;
    background: #eee;
}

.strength-percentage span{
    display: block;
    height: 100%;
    transition: all 0.5s;
    border-radius: 8px;
}

.weak{
    background: crimson;
    width: 22%;
}

.average {
    background: goldenrod;
    width: 44%;
}

.strong{
    background: rgb(1, 181, 1);
    width: 100%;
}
